[user]
  name = Stefan Frede
  email = stefan@frede.dev
  signingkey = 7B8C67BC8A221690
[push]
  default = current
[alias]
  aa = add --all
  ap = add --patch
  branches = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes
  ci = commit -v
  co = checkout
  pf = push --force-with-lease
  st = status
  lg = log --graph --pretty=colored --abbrev-commit --date=relative
  hist = log --graph --pretty=format:'%h %ad | %s%d [%an]' --date=short
  last = log -1 -p HEAD
  unstage = reset HEAD --
  stats = shortlog -sn --all --no-merges
  recent = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format="%(refname:short)"
  overview = log --all --since='2 weeks' --oneline --no-merges
  recap = log --all --oneline --no-merges --author=stefan@frede.dev
  today = log --since=00:00:00 --all --no-merges --oneline --author=stefan@frede.dev
  files = diff-tree --no-commit-id --name-only -r
[core]
  excludesfile = ~/.gitignore
  autocrlf = input
  pager = delta
  editor = vim
[delta]
  features = line-numbers
  syntax-theme = Nord
  minus-style = "#2e3440" "#bf616a"
  minus-emph-style = "#2e3440" "#81a1c1"
  plus-style = "#2e3440" "#a3be8c"
  plus-emph-style = "#2e3440" "#81a1c1"
[delta "line-numbers"]
  line-numbers = true
  line-numbers-minus-style = "#bf616a"
  line-numbers-plus-style = "#a3be8c"
  line-numbers-zero-style = "#4c566a"
  line-numbers-left-style = "#4c566a"
  line-numbers-right-style = "#4c566a"
[interactive]
  diffFilter = delta --color-only
[merge]
  ff = only
[commit]
  template = ~/.gitmessage
  gpgsign = true
[gpg]
  program = /usr/bin/gpg
[fetch]
  prune = true
[rebase]
  autosquash = true
[diff]
  colorMoved = zebra
  tool = vimdiff
[difftool]
  prompt = false
[pretty]
  colored = format:%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr, %cn)%Creset
[github]
  user = stefanfrede
[pull]
  rebase = false
[init]
  defaultBranch = main
